/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .details {
  width: 250px;
  height: 80px;
  background-color: antiquewhite;
  border-radius: 4px;
  align-items: center;
} */


body {
  font-family: Helvetica;
}

.details {
  padding: 16px;
  background-color: antiquewhite;
  width: 155px;
  border-radius: 8px;
  text-align: center;

}

.text {
  padding: 16px;
  font-size: 20px;
}

.link-to {
  padding: 16px;
}

a {
  color: #4A9AE1;
  text-decoration: none;
}

.input {
  height: 25px;
  border: solid;
  border-width: 0.5px;
  border-radius: 8px;
  width: 200px;
  display: block;
  margin: 8px;
}

.btn-form{
  border-radius: 8px;
  height: 30px;
  width: 75px;
  background-color: #4A9AE1;
  color: white;
  border-width: 0.5px ;
  margin: 8px;
}
